p, h1, h2, h3, h4 {
  margin: 0; }

.body {
  position: relative; }

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  background-color: #535353; }
  .sidebar .nav-tabs-side {
    transform: rotate(-90deg);
    position: absolute;
    border: none;
    top: 175px;
    left: -182px;
    z-index: 2; }
    .sidebar .nav-tabs-side li {
      float: right;
      background: url("../img/tab-vertical-un.png") no-repeat;
      position: relative; }
      .sidebar .nav-tabs-side li a {
        width: 170px;
        padding: 0;
        text-align: center;
        height: 25px;
        line-height: 25px;
        border: none;
        color: #fff;
        margin-right: 0;
        border-bottom: 1px solid #848484; }
      .sidebar .nav-tabs-side li.active, .sidebar .nav-tabs-side li:hover {
        background-image: url("../img/tab-vertical.png"); }
        .sidebar .nav-tabs-side li.active a, .sidebar .nav-tabs-side li:hover a {
          background: transparent;
          color: #f5e34e;
          text-decoration: underline;
          border: none;
          border-bottom: 1px solid #535353; }
  .sidebar .nav-tabs-side__line {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #848484;
    z-index: 1; }
  .sidebar .nav-tabs-side-content {
    background-color: #737373;
    position: absolute;
    top: 35px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border: 1px solid #878787;
    border-top: none; }
    .sidebar .nav-tabs-side-content #output {
      margin-top: -25px;
      background-color: #737373;
      border: 1px solid #878787;
      margin-left: -1px;
      margin-right: -1px;
      border-bottom: none;
      padding: 30px 28px; }
  .sidebar .nav-tabs-horizontal {
    border-bottom: 1px solid #878787;
    padding-left: 15px;
    margin-top: -25px; }
    .sidebar .nav-tabs-horizontal li {
      background: url("../img/tab-horizontal-un.png") no-repeat;
      margin-right: -10px; }
      .sidebar .nav-tabs-horizontal li:nth-child(0) {
        z-index: 3; }
      .sidebar .nav-tabs-horizontal li:nth-child(1) {
        z-index: 2; }
      .sidebar .nav-tabs-horizontal li:nth-child(2) {
        z-index: 1; }
      .sidebar .nav-tabs-horizontal li a {
        width: 147px;
        padding: 0;
        text-align: center;
        height: 25px;
        line-height: 25px;
        border: none;
        color: #fff;
        margin-right: 0;
        border-bottom: 1px solid #848484; }
      .sidebar .nav-tabs-horizontal li.active, .sidebar .nav-tabs-horizontal li:hover {
        background: url("../img/tab-horizontal.png") no-repeat;
        z-index: 9; }
        .sidebar .nav-tabs-horizontal li.active a, .sidebar .nav-tabs-horizontal li:hover a {
          background-color: transparent;
          border: none;
          color: #f5e34e;
          text-decoration: underline; }
  .sidebar .tab-content-horizontal .tab-pane {
    padding: 5px 30px; }
  .sidebar .hyper-active {
    display: none; }
  .sidebar .normal-active {
    display: inherit; }
  .sidebar #output p {
    text-align: center;
    margin-top: 24px; }
  .sidebar.hyper .nav-tabs-horizontal li {
    background: url("../img/hyper-tab-horizontal-un.png") no-repeat; }
    .sidebar.hyper .nav-tabs-horizontal li.active {
      background: url("../img/hyper-tab-horizontal.png") no-repeat; }
    .sidebar.hyper .nav-tabs-horizontal li a {
      width: 120px; }
  .sidebar.hyper #inner-layer .hyper-active {
    position: absolute;
    top: 40px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #878787;
    border: 1px solid #aaaaaa; }
    .sidebar.hyper #inner-layer .hyper-active .nav-tabs-horizontal {
      border-bottom: 1px solid #aaaaaa;
      padding-left: 5px; }
      .sidebar.hyper #inner-layer .hyper-active .nav-tabs-horizontal li {
        background-image: url("../img/hyper-tab-horizontal-child-un.png"); }
        .sidebar.hyper #inner-layer .hyper-active .nav-tabs-horizontal li.active {
          background-image: url("../img/hyper-tab-horizontal-child.png"); }
          .sidebar.hyper #inner-layer .hyper-active .nav-tabs-horizontal li.active a {
            border-bottom: none; }
        .sidebar.hyper #inner-layer .hyper-active .nav-tabs-horizontal li a {
          width: 147px;
          border-bottom: 1px solid #aaaaaa; }
  .sidebar.hyper .hyper-active {
    display: inherit; }
  .sidebar.hyper .normal-active {
    display: none; }

.header > p {
  background-color: #535353;
  color: #fff;
  text-align: center;
  height: 33px;
  line-height: 33px; }

.header__wrap {
  background-color: #898989;
  color: #fff;
  padding: 12px 7px 12px 30px; }
  .header__wrap .block--left {
    float: left; }
    .header__wrap .block--left img {
      margin-right: 17px; }
    .header__wrap .block--left .button--custom {
      margin-left: 32px;
      margin-right: 10px; }
  .header__wrap .block--right {
    float: right;
    height: 50px;
    display: table; }
  .header__wrap .header__wrap__block {
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px; }
    .header__wrap .header__wrap__block .header__wrap__block__title {
      margin-bottom: 3px; }

.button--custom {
  width: 170px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border: none;
  border-bottom: 2px solid #434343;
  color: #4d4c4c; }

#fileUpload {
  display: none; }

.select__custom {
  width: 225px;
  height: 30px;
  background-image: url("../img/select-list.jpg");
  overflow: hidden; }
  .select__custom select {
    background: transparent;
    border: none;
    width: 100%;
    height: 30px;
    outline: none;
    margin-left: 23px;
    color: #fff;
    cursor: pointer; }
    .select__custom select option {
      background-color: #626262; }

.txt-slider {
  display: inline-block;
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-image: url("../img/txt-text-bg.jpg");
  color: #fff; }
  .txt-slider.text-input-number {
    border: none; }

.text-input-number__wrap {
  display: inline-block; }

.score-slider.ui-widget.ui-widget-content {
  width: 260px;
  background-color: #5d5d5d;
  border: none;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px; }
  .score-slider.ui-widget.ui-widget-content.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    outline: none;
    width: 12px;
    height: 25px;
    border: none;
    background-image: url("../img/slider-handle.jpg");
    border-radius: 0; }
  .score-slider.ui-widget.ui-widget-content .ui-slider-range {
    background-color: #82a9b8;
    border-radius: 0; }

.tab-pane__block .tab__block {
  border-bottom: 1px solid #a0a0a0;
  padding: 25px 0; }
.tab-pane__block .center-flex {
  display: flex;
  display: -webkit-flex;
  align-items: center; }
  .tab-pane__block .center-flex .tab__block__text {
    margin-bottom: 0; }
.tab-pane__block .tab__block__text {
  color: #d9d9d9;
  font-size: 16px;
  margin-bottom: 20px; }
.tab-pane__block .tab__block--01 {
  float: left;
  width: 122px; }
.tab-pane__block .tab__block--02 {
  overflow: hidden; }
.tab-pane__block .score-slider.ui-widget.ui-widget-content {
  width: 345px;
  margin-right: 4px; }
.tab-pane__block.tab-pane__block--inner-layer .tab__block--02 .txt-slider {
  margin-right: 60px; }

#hyper-inner-layer {
  padding: 0 15px; }

.range-slider.ui-widget.ui-widget-content {
  width: 260px;
  background-color: #5d5d5d;
  border: none;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px; }
  .range-slider.ui-widget.ui-widget-content.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    outline: none;
    width: 12px;
    height: 25px;
    border: none;
    background-image: url("../img/slider-handle.jpg");
    border-radius: 0; }
  .range-slider.ui-widget.ui-widget-content .ui-slider-range {
    background-color: #5d5d5d;
    border-radius: 0; }
    .range-slider.ui-widget.ui-widget-content .ui-slider-range.update-range {
      background-color: #82a9b8; }

.check-box-custom label {
  margin-bottom: 0; }
.check-box-custom [type="checkbox"]:not(:checked), .check-box-custom [type="checkbox"]:checked {
  display: none; }
.check-box-custom [type="checkbox"]:not(:checked) + label, .check-box-custom [type="checkbox"]:checked + label {
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-bg.jpg");
  position: relative; }
.check-box-custom [type="checkbox"]:not(:checked) + label:after, .check-box-custom [type="checkbox"]:checked + label:after {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-check.png");
  top: 0; }
.check-box-custom [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }
.check-box-custom [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

.has-outline {
  cursor: pointer; }
  .has-outline.outline-active {
    outline: auto 5px -webkit-focus-ring-color; }

.viewport {
  overflow: scroll;
  position: relative;
  min-height: 650px;
  height: calc(100vh - 119px);
  width: calc(100% - 500px);
  background-image: url("../img/viewport-bg.jpg"); }
  .viewport .viewport-content {
    margin-bottom: 133px;
    margin-top: -146px;
    margin-left: 78px;
    position: relative; }
    .viewport .viewport-content .block__hidden__wrap {
      margin-top: -127px;
      margin-left: 180px;
      position: relative; }
      .viewport .viewport-content .block__hidden__wrap .normal-type-a__output {
        position: absolute;
        top: 5px;
        height: 121px;
        background: url("../img/normal-type-a-output.png") no-repeat;
        width: 600px;
        right: -613px; }
  .viewport .block__hidden {
    position: relative;
    background: url("../img/hidden--content.png") repeat-y;
    width: 139px;
    text-align: center;
    float: left;
    margin-right: 25px;
    vertical-align: top;
    cursor: pointer; }
    .viewport .block__hidden:before {
      content: "";
      position: absolute;
      top: -19px;
      left: 0;
      width: 100%;
      height: 19px;
      background-image: url("../img/hidden--before.png"); }
    .viewport .block__hidden:after {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 0;
      width: 100%;
      height: 23px;
      background-image: url("../img/hidden--after.png"); }
    .viewport .block__hidden .block__title {
      color: #fff;
      text-align: center;
      margin-left: -17px; }
      .viewport .block__hidden .block__title .number {
        display: block;
        font-size: 30px; }
    .viewport .block__hidden.active .block__title {
      color: #dacd51; }
    .viewport .block__hidden.hidden__clone {
      display: none; }
    .viewport .block__hidden .line, .viewport .block__hidden .type-b-line--top {
      display: none; }
    .viewport .block__hidden .line--right {
      position: absolute;
      right: -38px;
      top: 78px;
      height: 3px;
      width: 50px;
      background-image: url("../img/line-right.png"); }
  .viewport .block__number {
    margin-left: -17px;
    text-align: center; }
    .viewport .block__number .cube {
      margin-bottom: 10px; }
  .viewport .normal-type-b-active {
    display: none; }
  .viewport .normal-type-b:before {
    content: '';
    position: absolute;
    top: -69px;
    left: 240px;
    background-image: url("../img/line-right.png");
    width: calc(100% - 200px);
    height: 3px; }
  .viewport .normal-type-b:after {
    content: '';
    position: absolute;
    left: 242px;
    background: url("../img/normal-type-b-bottom.png") no-repeat;
    width: 888px;
    height: 340px;
    margin-bottom: 133px;
    bottom: -536px; }
  .viewport .normal-type-b.value-3:after {
    left: 102px; }
  .viewport .normal-type-b.value-2:after {
    left: 0; }
  .viewport .normal-type-b.value-1:after {
    left: -93px; }
  .viewport .normal-type-b .line--bottom {
    position: absolute;
    bottom: -63px;
    left: 60px;
    background-image: url("../img/line-right.png");
    width: calc(100% - 161px);
    height: 3px; }
  .viewport .normal-type-b .line--bottom-02 {
    position: absolute;
    bottom: -188px;
    left: 483px;
    background-image: url("../img/line-right.png");
    width: calc(100% - 454px);
    height: 3px; }
    .viewport .normal-type-b .line--bottom-02.value-3 {
      width: 179px;
      left: 342px; }
    .viewport .normal-type-b .line--bottom-02.value-2 {
      width: 117px;
      left: 240px; }
    .viewport .normal-type-b .line--bottom-02.value-1 {
      width: 46px;
      left: 147px; }
  .viewport .normal-type-b .block--bottom-02 {
    background: url("../img/normal-type-b-bottom-02.png");
    position: absolute;
    bottom: -403px;
    right: -178px;
    width: 149px;
    height: 340px; }
  .viewport .normal-type-b .line-right {
    position: absolute;
    width: 3px;
    background-image: url("../img/line-right.png");
    background-repeat: repeat-y;
    height: calc(100% + 123px);
    right: -103px;
    top: -60px; }
  .viewport .normal-type-b .block__hidden.last .line--right {
    display: none; }
  .viewport .normal-type-b .block__hidden .line {
    display: block;
    position: absolute;
    bottom: -60px;
    left: 43.5%;
    width: 3px;
    height: 50px;
    background-image: url("../img/line-right.png"); }
  .viewport .normal-type-b .block__hidden .type-b-line--top {
    display: block;
    position: absolute;
    top: -60px;
    left: 43.5%;
    width: 3px;
    height: 50px;
    background-image: url("../img/line-right.png"); }
  .viewport .normal-type-b .block__hidden__wrap .normal-type-a__output {
    background: transparent;
    display: block;
    width: 300px;
    right: -300px; }
  .viewport .normal-type-b .normal-type-a-active {
    display: none; }
  .viewport .normal-type-b .normal-type-b-active {
    display: block; }

.viewport-normal-type-a {
  display: none; }
  .viewport-normal-type-a.active {
    display: block; }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  /* Adjusts for spacing */ }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 0; }

.view-3d .modal-dialog {
  width: 60%; }
.view-3d .modal-content > img {
  width: 100%; }
.view-3d .close-modal {
  position: absolute;
  top: -15px;
  right: -15px;
  background: transparent;
  padding: 0;
  border: none; }

#number2 {
  margin-left: 22%; }

#number3 {
  margin-left: 41.2%; }

#number4 {
  margin-left: 60.5%; }

#number5 {
  margin-left: 79.7%; }

.number-tick {
  position: absolute;
  top: -14px;
  left: -5px;
  bottom: 0px;
  font-size: 10px;
  color: #999999; }

/*# sourceMappingURL=main.css.map */
