#page {
}

p, h1, h2, h3, h4 {
  margin: 0;
}

.body {
  position: relative;
}
.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  background-color: #535353;

  .nav-tabs-side {
    transform: rotate(-90deg);
    position: absolute;
    border: none;
    top: 175px;
    left: -182px;
    z-index: 2;
    li {
      float: right;
      background: url("../img/tab-vertical-un.png") no-repeat;
      position: relative;
      a {
        width: 170px;
        padding: 0;
        text-align: center;
        height: 25px;
        line-height: 25px;
        border: none;
        color: #fff;
        margin-right: 0;
        border-bottom: 1px solid #848484;
      }
      &.active, &:hover {
        background-image: url("../img/tab-vertical.png");
        a {
          background: transparent;
          color: #f5e34e;
          text-decoration: underline;
          border: none;
          border-bottom: 1px solid #535353;
        }
      }
    }
  }

  .nav-tabs-side__line {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #848484;
    z-index: 1;
  }

  .nav-tabs-side-content {
    background-color: #737373;
    position: absolute;
    top: 35px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border: 1px solid #878787;
    border-top: none;
    #output {
      margin-top: -25px;
      background-color: #737373;
      border: 1px solid #878787;
      margin-left: -1px;
      margin-right: -1px;
      border-bottom: none;
      padding: 30px 28px;
    }
  }

  .nav-tabs-horizontal {
    border-bottom: 1px solid #878787;
    padding-left: 15px;
    margin-top: -25px;
    li {
      background: url("../img/tab-horizontal-un.png") no-repeat;
      margin-right: -10px;
      &:nth-child(0) {
        z-index: 3;
      }
      &:nth-child(1) {
        z-index: 2;
      }
      &:nth-child(2) {
        z-index: 1;
      }
      a {
        width: 147px;
        padding: 0;
        text-align: center;
        height: 25px;
        line-height: 25px;
        border: none;
        color: #fff;
        margin-right: 0;
        border-bottom: 1px solid #848484;
      }
      &.active, &:hover {
        background: url("../img/tab-horizontal.png") no-repeat;
        z-index: 9;
        a {
          background-color: transparent;
          border: none;
          color: #f5e34e;
          text-decoration: underline;
        }
      }
    }
  }

  .tab-content-horizontal {
    .tab-pane {
      padding: 5px 30px;
    }
  }

  .hyper-active {
    display: none;
  }
  .normal-active {
    display: inherit;
  }

  #output {
    p {
      text-align: center;
      margin-top: 24px;
    }
  }

  &.hyper {
    .nav-tabs-horizontal {
      li {
        background: url("../img/hyper-tab-horizontal-un.png") no-repeat;
        &.active {
          background: url("../img/hyper-tab-horizontal.png") no-repeat;
        }
        a {
          width: 120px;
        }
      }
    }

    #inner-layer {
      .hyper-active {
        position: absolute;
        top: 40px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        background-color: #878787;
        border: 1px solid #aaaaaa;
        .nav-tabs-horizontal {
          border-bottom: 1px solid #aaaaaa;
          padding-left: 5px;
          li {
            background-image: url("../img/hyper-tab-horizontal-child-un.png");
            &.active {
              background-image: url("../img/hyper-tab-horizontal-child.png");
              a {
                border-bottom: none;
              }
            }
            a {
              width: 147px;
              border-bottom: 1px solid #aaaaaa;
            }
          }
        }
      }
    }

    .hyper-active {
      display: inherit;
    }
    .normal-active {
      display: none;
    }
  }
}

.header > p {
  background-color: #535353;
  color: #fff;
  text-align: center;
  height: 33px;
  line-height: 33px;
}

.header__wrap {
  background-color: #898989;
  color: #fff;
  padding: 12px 7px 12px 30px;
  .block--left {
    float: left;
    img {
      margin-right: 17px;
    }
    .button--custom {
      margin-left: 32px;
      margin-right: 10px;
    }
  }

  .block--right {
    float: right;
    height: 50px;
    display: table;
  }

  .slider__block {
  }

  .header__wrap__block {
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px;
    .header__wrap__block__title {
      margin-bottom: 3px;
    }
  }
}

.button--custom {
  width: 170px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border: none;
  border-bottom: 2px solid #434343;
  color: #4d4c4c;
}

#fileUpload {
  display: none;
}

.select__custom {
  width: 225px;
  height: 30px;
  background-image: url("../img/select-list.jpg");
  overflow: hidden;
  select {
    background: transparent;
    border: none;
    width: 100%;
    height: 30px;
    outline: none;
    margin-left: 23px;
    color: #fff;
    cursor: pointer;
    option {
      background-color: #626262;
    }
  }
}

.txt-slider {
  display: inline-block;
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-image: url("../img/txt-text-bg.jpg");
  color: #fff;
  &.text-input-number {
    border: none;
  }
}

.text-input-number__wrap {
  display: inline-block;
  .text-input-number {

  }
}

.score-slider.ui-widget.ui-widget-content {
  width: 260px;
  background-color: #5d5d5d;
  border: none;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  &.ui-slider-horizontal .ui-slider-handle {
    //margin-left: 0;
    top: -.5em;
    outline: none;
    width: 12px;
    height: 25px;
    border: none;
    background-image: url("../img/slider-handle.jpg");
    border-radius: 0;
  }
  .ui-slider-range {
    background-color: #82a9b8;
    border-radius: 0;
  }
}


.tab-pane__block {
  .tab__block {
    border-bottom: 1px solid #a0a0a0;
    padding: 25px 0;
  }
  .center-flex {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    .tab__block__text {
      margin-bottom: 0;
    }
  }
  .tab__block__text {
    color: #d9d9d9;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .tab__block--01 {
    float: left;
    width: 122px;
  }
  .tab__block--02 {
    overflow: hidden;
  }

  .score-slider.ui-widget.ui-widget-content {
    width: 345px;
    margin-right: 4px;
  }

  &.tab-pane__block--inner-layer {
    .tab__block--02 {
      .txt-slider {
        margin-right: 60px;
      }
    }

  }
}

#hyper-inner-layer {
  padding: 0 15px;
}

.range-slider.ui-widget.ui-widget-content {
  width: 260px;
  background-color: #5d5d5d;
  border: none;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  &.ui-slider-horizontal .ui-slider-handle {
    //margin-left: 0;
    top: -.5em;
    outline: none;
    width: 12px;
    height: 25px;
    border: none;
    background-image: url("../img/slider-handle.jpg");
    border-radius: 0;
  }
  .ui-slider-range {
    background-color: #5d5d5d;
    border-radius: 0;
    &.update-range {
      background-color: #82a9b8;
    }
  }
}

.check-box-custom {
  label {
    margin-bottom: 0;
  }
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
  }
  [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
    width: 27px;
    height: 27px;
    background-image: url("../img/checkbox-bg.jpg");
    position: relative;
  }
  [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    background-image: url("../img/checkbox-check.png");
    top: 0;
  }

  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

}

.has-outline {
  cursor: pointer;
  &.outline-active {
    outline: auto 5px -webkit-focus-ring-color;
  }
}

.viewport {
  overflow: scroll;
  position: relative;
  min-height: 650px;
  height: calc(100vh - 119px);
  width: calc(100% - 500px);
  background-image: url("../img/viewport-bg.jpg");
  .viewport-content {
    margin-bottom: 133px;
    margin-top: -146px;
    margin-left: 78px;
    position: relative;
    .block__hidden__wrap {
      margin-top: -127px;
      margin-left: 180px;
      position: relative;
      .normal-type-a__output {
        position: absolute;
        top: 5px;
        height: 121px;
        background: url("../img/normal-type-a-output.png") no-repeat;
        width: 600px;
        right: -613px;
      }
    }
  }
  .block__hidden {
    position: relative;
    background: url("../img/hidden--content.png") repeat-y;
    width: 139px;
    text-align: center;
    float: left;
    margin-right: 25px;
    vertical-align: top;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      top: -19px;
      left: 0;
      width: 100%;
      height: 19px;
      background-image: url("../img/hidden--before.png");
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 0;
      width: 100%;
      height: 23px;
      background-image: url("../img/hidden--after.png");
    }
    .block__title {
      color: #fff;
      text-align: center;
      margin-left: -17px;
      .number {
        display: block;
        font-size: 30px;
      }
    }
    &.active {
      .block__title {
        color: #dacd51;
      }
    }
    &.hidden__clone {
      display: none;
    }
    .line, .type-b-line--top {
      display: none;
    }
    .line--right {
      position: absolute;
      right: -38px;
      top: 78px;
      height: 3px;
      width: 50px;
      background-image: url("../img/line-right.png");
    }
  }
  .block__number {
    margin-left: -17px;
    text-align: center;
    .cube {
      margin-bottom: 10px;
    }
  }

  .normal-type-b-active {
    display: none;
  }

  .normal-type-b {
    &:before {
      content: '';
      position: absolute;
      top: -69px;
      left: 240px;
      background-image: url("../img/line-right.png");
      width: calc(100% - 200px);
      height: 3px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 242px;
      background: url("../img/normal-type-b-bottom.png") no-repeat;
      width: 888px;
      height: 340px;
      margin-bottom: 133px;
      bottom: -536px;
    }
    &.value-3:after {
      left: 102px;
    }
    &.value-2:after {
      left: 0;
    }
    &.value-1:after {
      left: -93px;
    }
    .line--bottom {
      position: absolute;
      bottom: -63px;
      left: 60px;
      background-image: url("../img/line-right.png");
      width: calc(100% - 161px);
      height: 3px;
    }

    .line--bottom-02 {
      position: absolute;
      bottom: -188px;
      left: 483px;
      background-image: url("../img/line-right.png");
      width: calc(100% - 454px);
      height: 3px;

      &.value-3{
        width: 179px;
        left: 342px;
      }
      &.value-2{
        width: 117px;
        left: 240px;
      }
      &.value-1{
        width: 46px;
        left: 147px;
      }
    }

    .block--bottom-02 {
      background: url("../img/normal-type-b-bottom-02.png");
      position: absolute;
      bottom: -403px;
      right: -178px;
      width: 149px;
      height: 340px;
    }

    .line-right {
      position: absolute;
      width: 3px;
      background-image: url("../img/line-right.png");
      background-repeat: repeat-y;
      height: calc(100% + 123px);
      right: -103px;
      top: -60px;
    }

    .block__hidden {
      &.last {
        .line--right {
          display: none;
        }
      }
      .line {
        display: block;
        position: absolute;
        bottom: -60px;
        left: 43.5%;
        width: 3px;
        height: 50px;
        background-image: url("../img/line-right.png");
      }
      .type-b-line--top {
        display: block;
        position: absolute;
        top: -60px;
        left: 43.5%;
        width: 3px;
        height: 50px;
        background-image: url("../img/line-right.png");
      }
    }

    .block__hidden__wrap {
      .normal-type-a__output {
        background: transparent;
        display: block;
        width: 300px;
        right: -300px;
      }
    }

    .normal-type-a-active {
      display: none;
    }
    .normal-type-b-active {
      display: block;
    }

  }
}

.viewport-normal-type-a {
  display: none;
  &.active {
    display: block;
  }
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 0;
}

.view-3d {
  .modal-dialog {
    width: 60%;
  }
  .modal-content > img {
    width: 100%;
  }
  .close-modal {
    position: absolute;
    top: -15px;
    right: -15px;
    background: transparent;
    padding: 0;
    border: none;
  }
}

#number2{
  margin-left: 22%;
}
#number3{
  margin-left: 41.2%;
}
#number4{
  margin-left: 60.5%;
}
#number5{
  margin-left: 79.7%;
}
.number-tick {
  position:absolute;
  top:-14px;
  left:-5px;
  bottom:0px;
  font-size:10px;
  color:#999999;
}
